/***************   ****************/
/*  Reset de la pagina  */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}


:root {
  --colortextodestacado: indigo;
  --colorbackground: rgb(94, 151, 255);
}
/* ejemplo uso variables css*/
/* contenedor h2{
 color: var(--colortextodestacado);
}*/


/*************** ESTILOS HEADER****************/



/*************** ESTILOS TIENDA ****************/
#tienda{
  display:flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}
#tienda #main{
	text-align:center;
	padding: 20px;

}
#tienda h1, h2{
    padding: 20px;
	font-size:2rem;
	font-weight: bold;
}
#tienda h1, h2{
	color:var(--colortextodestacado);
	margin:5px;	
}
#tienda a{
text-decoration:none;

}
/*filtros CSS */
#tienda .filtrosgaleria{
  padding: 2em 1rem;
  text-align: center;

}
#tienda [type="radio"]{
    display: none;
}
#tienda label{
  padding: 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.25s;
  font-size:1.2rem;
}
#tienda label:hover{
   background-color:#e1e7ec;
}

#tienda [type="radio"]:checked + label {
    background-color: rgb(177, 210, 248);
}


#tienda [type="radio"]:nth-of-type(2):checked ~ .galeria .card:not(.camiseta),
#tienda [type="radio"]:nth-of-type(3):checked ~ .galeria .card:not(.shorts),
#tienda [type="radio"]:nth-of-type(4):checked ~ .galeria .card:not(.sudadera),
#tienda [type="radio"]:nth-of-type(5):checked ~ .galeria .card:not(.calcetines)
{
  display: none;
}
 /* estilos de la galeria de productos */
#tienda  .galeria{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

#tienda .oferta p {
  text-align: center;
  letter-spacing: 1.5px;
  
}
/* mostrar mensaje oferta on hover**/
#tienda figure .oferta{
  opacity:0;
  font-size: 0.8rem;
}

#tienda figure:hover .oferta {
  opacity: 0.8;
  transition: all 0.5s ease;

  p {
	color:blue;
	background-color:Aquamarine;
    transform: scale(1.8);
    transition: all 0.9s ease;
  }
}
 #tienda .card{
  margin: 0;
  color: var(--colortextodestacado);
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0 10px silver;
  transition: box-shadow 0.35s;
  border: 1p solid  lightgrey;
}

  
 #tienda .card:hover{
  box-shadow: 0 0 25px #0009;
}
 
 #tienda .card-imagen{
  width: 100%;
  object-fit: cover;
} 

#tienda .card-caption{
  font-weight: bold;
  font-variant: small-caps;
  padding: 0.5rem;
  text-align: center;
  color: var(--colortextodestacado);
}

#tienda footer {
  background-color: var(--colorbackground);
  width: 100%;
  height: 15vh;
  color: white;
  padding:20px;

}

/*** estilos para el modal ***/
#tienda .modal {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
}

#tienda .modal:not(:target) {
  visibility: hidden;
  transition-delay: 500ms;
  transition-property: visibility;
}

#tienda .modal:target .modal-content {
  transform: translateY(100vh);
  animation: 500ms ease-in-out slideUp forwards;
}

#tienda .modal:not(:target) .modal-content {
  transform: translateY(0);
  animation: 500ms ease-out slideDown forwards;
}

#tienda .modal:target .modal-overlay {
  opacity: 0;
  animation: 500ms linear fadeIn forwards;
}

#tienda .modal:not(:target) .modal-overlay {
  opacity: 1;
  animation: 500ms linear fadeOut forwards;
}

#tienda .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
}

#tienda .modal-content {
  transition: transform 1s;
  background: #fff;
  width: 75%;
  position: relative;
  margin: auto;
  height: 75%;
  padding: 48px 24px;
  border-radius: 4px;
  max-width: 1000px;
}

#tienda .modal-content  p{
 font-size:1.8rem;
 padding:4px;
}

#tienda .modal-images {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding:10px;
}

#tienda .imagen-modal:hover{
  transform: scale(1.5);
  transition: all 0.9s ease;
  overflow: hidden;
}
#tienda .modal-close {
  font-size: 36px;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 24px;
  top: 10px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}




  /*************** ESTILOS CLUBS ****************/

  #clubs{
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    background-color: var(--colorbackground)
}

  #clubs .button-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
  }

  #clubs .button{
    position: relative;
    display: flex;
    width: 100%;
    height: 10rem;
    border-radius: 10%;
    background-position: 1%;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--colorbackground);
    overflow: hidden;
  }

  #clubs .button:hover{
    transform: scale(1.1);
    opacity: 5;
    transition: 2s;
  }

  #clubs .button::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1; 
    z-index: 1; 
}

#clubs .button:hover::before{
  transition: 0.8s;
  opacity: 10;
}

  #clubs .button1::before{ 
    background-image: url(../img/equipomasculino.jpg);
  }

  #clubs .button2::before{ 
    background-image: url(../img/equipofemenino.jpg);

  }
  #clubs .button3::before{ 
    background-image: url(../Images/);
  }

  #clubs .button4::before{ 
    background-image: url(../Images/equipocadete.jpg);
  }

  #clubs .button5::before{ 
    background-image: url(../Images/equipoinfantil.jpg);
  }

  #clubs .button6::before{ 
    background-image: url(../Images/equipoalevin.jpg);
  }

  #clubs .text-over{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 5rem;
    text-align: center;
}

 #clubs .button:hover .text-over{
  transition: 0.2s;
  opacity: 0; 
}

#clubs .teams{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  line-height: 1.8;
  font-weight: bold;
  text-align: center;
}

/* conocenos.html/estilo conocenos*/
#conocenos {
  width: 100%;
  height: 100%;
}
#conocenos h1{
  font-family: "Poppins", sans-serif;
}
#conocenos.botones{
  display: flex;
  justify-content: center;
  color: blue;

}
#conocenos.quienes-somos{

}

#conocenos.mision-valores{
  
}
#conocenos.historia{
  
}

/* Index.html | Homepage */

#index1 > * {
    padding: 20px 0 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.anouncementbar {
  font-weight: bold;
    color:white;
    background-color: #12A7EB;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 20px;
}

#index1 .header1 {
  background-color: rgb(0, 64, 107);
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 0;
}

#index1 .header1 img {
    height: 100px;
    width: 0 auto;
}

#index1 .ul1 {
    display:flex;
    justify-content: space-around;
    list-style: none;
    margin-top:10px;
}

#index1 .ul1 a {
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#index1 .ul1 a:hover {
  transform: scale(0.95);
  font-weight: bold;
}

#index1 .noti1 {
    padding: 10px 0 10px 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #65b6db;
    text-align: center;
}

#index1 .branding {
    border-radius: 8px;
    height: 300px;
    display:block;
    margin: 0 auto 20px;
}

#index1 main div img {
    border-radius: 8px;
    border: 1px solid black;
    height: 350px;
    display: flex;
    margin: 0 auto;
}

#index1 main p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

#index1 .noticias h3 {
  text-align: center;
  margin: 20px 50px 20px 50px;
}

#index1 .noticias p {
  margin: 0 20px 0 20px;
}



#index1 .noticias .pdate {
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.548);
}

#index1 .noticias .ptext {
    margin-top: 20px;
    font-size: 16px;
}

#index1 .noticias h4 {
  text-align: center;
  margin:15px 40% 0 40%;
  background-color: rgb(0, 64, 107);
  font-size: 16px;
  border-style: none;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 500ms;
  color: white;
  text-decoration: none;
}

#index1 .noticias h4:hover {
  transform: scale(0.95);
  transition-duration: 500ms;
}

footer {
    background-color: #65b6db;
    padding-bottom: 30px;
}

footer h2 {
    color:white;
    text-align: center;
    margin-bottom: 30px;
}

footer img {
    height:50px;
    width: 0 auto;
    margin-bottom: 30px;
}

.social_media {
    display: flex;
    justify-content: space-around;
}


.copyright {
    text-align: center;
}

/* Index.html - Homepage | Response */


@media screen and (max-width: 300px) {
  background-color: red;
}


/*************** ESTILOS CONTACTO****************/
#contacto.red-border{
  border: solid red;
  padding: 30px;
}
#contacto.body{
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}
#contacto.section{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
  max-width: 800px;
  margin: auto;
}
#contacto.h1{
  color: #333;
}
#contacto.p, li{
  line-height: 1.6;
  margin-bottom: 10px;
}
#contacto.ul{
  padding-left: 20px;
}
#contacto.body{
  background-color: #f9f9f9;
  padding: 20px;
}
#contacto.h1{
  text-align: center;
}
#contaco.form{
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#contacto.label{
  margin-top: 10px;
}
#contacto.input,select,textarea{
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #add;
}
#contacto.button{
  margin-top: 15px;
  background-color: #28a745;
  color: #fff;
  padding: 10px;  
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#contacto.button:hover{
  background-color: #218838;
}